<div class="wrapper-form">
  <form (ngSubmit)="onSubmit()" class="modal-form">
    <div>
      <h3>{{title}} <fa-icon [icon]="faTimes" [ngStyle]="{'cursor': 'pointer'}" (click)="closeModal()"></fa-icon>
      </h3>

      <label for="name">Bem:</label>
      <input id="name" type="text" name="name" class="form-control" placeholder="Digite o nome" [(ngModel)]="name" />

      <label for="value">Valor(R$):</label>
      <input id="value" type="number" name="value" class="form-control" placeholder="Digite o valor"
        [(ngModel)]="value" />

      <label for="date">Data de aquisição:</label>
      <input id="date" type="date" name="date" class="form-control" [(ngModel)]="date" />
    </div>

    <input type="submit" value="Salvar" class="btn btn-block" [ngStyle]="{'background': '#008000'}" />
  </form>
</div>
