<app-button
  text="Adicionar Bem"
  color="green"
  (click)="openModal(true)">
</app-button>
<h4>Total em Bens: {{ total | currency: 'BRL' }}</h4>
<app-asset
  *ngFor="let asset of assets"
  [asset]="asset"
  (onDeleteAsset)="deleteAsset($event)"
  (onSelectAsset)="onSelectAsset($event)">
</app-asset>
<app-modal-form
  *ngIf="isOpenModal"
  [selectedAsset]="selectedAsset"
  (onCreateAsset)="createAsset($event)"
  (onUpdateAsset)="updateAsset($event)"
  (onCloseModal)="openModal($event)">
</app-modal-form>
